/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  word-spacing: 1px;
}

a {
  text-decoration: none;
  transition: all 0.5s;
}

.text__title {
  font-size: 3.125rem;
  font-weight: 400;
}

.color__gray {
  color: #888888;
}

.color__red {
  color: #e62b4a;
  letter-spacing: 1px;
}

.color__white {
  color: white;
}

.primary__black {
  background-color: black;
}

.text__font {
  font-size: 0.87rem;
  font-weight: 300;
}

.text__weight {
  font-weight: 300;
  font-size: 1rem;
}

/* HEADER  */

.header__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 26px 0px;
  align-items: center;
}

.header {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgb(239, 238, 238, 0.2);
}

.header__logo {
  font-size: 2.125rem;
  font-weight: 600;
}

.header ul {
  list-style-type: none;
}

.header__menu li {
  display: inline-block;
  margin: 0 26px;
  text-transform: uppercase;
}

.header__menu a:hover {
  color: #e62b4a;
}

.active {
  color: #e62b4a;
}

/* CAROUSELL */

.carousell {
  background-image: url(./img/home_slider.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content__text {
  font-size: 1.57rem;
  word-spacing: -2px;
}

.carousell h1 {
  font-size: 4.687rem;
  line-height: 90px;
}

.carousell__button {
  padding: 15px 25px;
  font-size: 1rem;
  background-color: #e62b4a;
  text-transform: uppercase;
  border: 0;
  color: white;
  margin-top: 20px;
  transition: all 0.5s;
}

.carousell__icon i {
  font-size: 1.635rem;
  margin-top: 20px;
  transform: translateY(30px);
}

.carousell__icon {
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}

.carousell__button:hover {
  background-color: #af2239;
  cursor: pointer;
}

/* products */

.products {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.products__content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 30px 0px;
}

.products__text p:last-of-type {
  margin-top: 20px;
  font-weight: 600;

  word-spacing: 2px;
  letter-spacing: 1px;
}

.item__icon i {
  font-size: 3.125rem;
}

.products__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.slick-initialized .slick-slide {
  display: flex;
}
.products__item {
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 10px;
  height: 230px;
  position: relative;
}

/* ::before ::after  */

.item__icon::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 5px;
  background-color: #e62b4a;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s;
}

.products__item:hover .item__icon::after {
  transform: translateY(0%);
  opacity: 1;
}

.slick-dots li button:before {
  color: white;
  font-size: 0.875rem;
  margin-top: 10px;
}
/* nút dots nhấp vào  */
.slick-dots li.slick-active button:before {
  color: red;
}

/* BLOG  */

.blog {
  width: 75%;
  margin: 0 auto;
  padding: 90px 0;
}
.blog__text {
  text-align: center;
}

.blog__text p:last-of-type {
  word-spacing: 0px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 26px;
}

.blog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.img__item {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.img__item2 {
  grid-row: 3 / 5;
  grid-column: 3 / 5;
}

.blog__list img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
  /* grayscale: độ sáng. contrast : độ bao phủ  */
}
.blog__img {
  position: relative;
  overflow: hidden;
}

.img__content {
  background-color: rgb(230, 43, 74, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 1s;
}

.img__content i {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  background-color: white;
  text-align: center;
  line-height: 35px;
  transform: translateY(30px);
  transition: all 1s;
  color: black;
}

.img__content h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: translateY(30px);
  transition: all 1s;
}

.blog__img:hover .img__content i,
.blog__img:hover .img__content h3,
.blog__img:hover .img__content {
  transform: translateY(0px);
  opacity: 1;
}

/* NUMBER  */
.number {
  padding: 100px 0;
}
.number__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.number__item {
  flex: 1;
}

.item__number {
  font-size: 3.73rem;
  font-weight: 300;
}

.item__text {
  font-size: 1.1rem;
  font-weight: 400;
}

/* INTRO  */

.intro {
  background-image: url(./img/bussiness_img_1.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0px;
}

.intro__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intro__text {
  text-align: center;
}

.intro__text p:last-of-type {
  margin-top: 30px;
}

.intro__media video {
  width: 100%;
  height: 100%;
}

/* CONTACK */

.contact {
  padding: 100px 0;
}
.contact__text {
  text-align: center;
  margin-bottom: 30px;
}
.contact__title {
  margin-bottom: 30px;
}

.contact__bottom {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 15px;
}

.contact__input {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input__row1,
.input__row3 {
  font-size: 15px;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #888888;
}

.input__button {
  padding: 20px 30px;
  font-size: 15px;
  border: none;
  transition: all 0.5s;
}

.input__button:hover {
  background-color: #af2239;
  color: white;
}

/* FOOTER  */

.footer__content {
  width: 75%;
  margin: 0 auto;
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__right i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s;
  margin-left: 5px;
}

.footer__right i:hover {
  background-color: #af2239;
  color: white;
}

/* black to top  */

.back__top {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
  background-color: rgb(0, 0, 0, 0.3);
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
}

.back__top i {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
}
